.container {
  margin-top: 3rem !important;
  width: 80%;
  margin: 0 auto;
}
/* .main_wrapper {
} */

.header {
  /* background-color: #f1f1f1; */
  /* padding: 20px; */
}
.profile_buttons {
  display: flex;
}

.profile_name {
  font-size: 1.8em;
  font-weight: 700;
  margin: 5px 0px;
}
.profile_desc {
  color: #707070;
  font-size: 1em;
  font-weight: 400;
  margin: 0px 0px;
}

.profile_url {
  font-size: 1.2em;
  font-weight: 400;
  margin: 10px 0px;
  color: rgb(112, 112, 112);
}
.tab_wrapper {
  margin-top: 60px;
}

.run_code_wrapper {
  display: flex;
  width: 100%;
}

.card_wrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out;
}

.trash:hover {
  color: red !important;
}

.card_button:hover {
  color: red !important;
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.addition_info {
  margin-top: 20px;
}
.card {
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  background: rgba(255, 255, 255, 0.796);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  margin-top: 50px;
  padding: 24px 80px 18px 36px;
  cursor: pointer;
  background-image: url("https://cdn.dribbble.com/users/40756/screenshots/4550177/header-dribbblerc.png?compress=1&resize=400x300");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 450px;
  min-height: 180px;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #4caf50;
  border-radius: 50%;
  display: inline-block;
}
